.page {
    width: 1600px;
    background-color: #f4f1e5;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
	text-align: center;
}
.vis-container {
    width: 100%;
}
.pure-g {
    margin-bottom: 50px;
}
.description-left {
	font-size: 23px;
}
.description-left2 {
	font-size: 23px;
}
.description-left3 {
	font-size: 23px;
}
.description-left4 {
	font-size: 23px;
}
.description-right {
	font-size: 23px;
}
.description-right2 {
	font-size: 23px;
}
.title {
	font-size: 36px;
}
.header1 {
	font-size: 22px;
}
.header2 {
	font-size: 22px;
}
.header3 {
	font-size: 22px;
}
.header4 {
	font-size: 22px;
}
.header5 {
	font-size: 22px;
}
.madagascar {
	font-weight: bold;
	color: #2b8cbe;
}
.brazil {
	font-weight: bold;
	color: #006837;
}