.page {
    width: 1100px;
    background-color: #f4f1e5;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
	text-align: center;
}
.vis-container {
    width: 50px;
	outline-style: groove;
	outline-color: black;
	margin: auto;
}
#vis1 {
	bottom: 100px; 
	left: 100px;
	right: 100px;
	margin: auto;
}
#vis2 {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 80px;
	margin: auto;
}
.pure-g {
    margin: auto;
}